name: deploy

on:
  push:
    branches:
      - main

env:
  NODE_VERSION: 18

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    name: deploy gh-pages
    steps:
      - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          persist-credentials: false
      - uses: actions/setup-node@3235b876344d2a9aa001b8d1453c930bba69e610 # v3.9.1
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
      - name: Build and Test
        run: |
          npm ci
          npm test
      - name: Deploy
        uses: peaceiris/actions-gh-pages@373f7f263a76c20808c831209c920827a82a2847 # v3.9.3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
